@{
    ViewBag.Title = "AddProduct";
}

<div>
    <div style="background-color: burlywood;line-height: 220%;margin-left: 10%;margin-right: 10%">
        <label style="font-size:16pt;padding-left:10px" >Products</label>
    </div>
     <div class="StyleMenueDiv" >
        <img class="StyleAdminImg" src="../../Images/rightArrow.jpg" /> <a style="color:black;text-decoration:none" href="/Product/ProductList" >Product List</a>
    </div>
    <div class="StyleMenueDiv">
        <img class="StyleAdminImg" src="../../Images/rightArrow.jpg" /> <a style="color:black;text-decoration:none" href="/Menu/MenuList" >Menu List</a>
    </div>
    <div class="StyleMenueDiv">
        <img class="StyleAdminImg" src="../../Images/rightArrow.jpg" /> <a style="color:black;text-decoration:none" href="/Product/PriceListEditior" >Price List Editior</a>
    </div>
    <div class="StyleMenueDiv">
        <img class="StyleAdminImg" src="../../Images/rightArrow.jpg" /> <a style="color:black;text-decoration:none" href="/Product/PriceDefinitions" >Price Definitions</a>
    </div>
    <div class="StyleMenueDiv">
        <img class="StyleAdminImg" src="../../Images/rightArrow.jpg" /> <a style="color:black;text-decoration:none" href="/Product/TaxTemplate" >Tax Templater</a>
    </div>
    <div class="StyleMenueDiv">
        <img class="StyleAdminImg" src="../../Images/rightArrow.jpg" /> <a style="color:black;text-decoration:none" href="/Product/ProductTimer" >Product Timer</a>
    </div>
    </div>
