@{
    ViewBag.Title = "AddMenu";
}

<div>
    <div style="background-color: burlywood;line-height: 220%;margin-left: 10%;margin-right: 10%">
        <label style="font-size:16pt;padding-left:10px" >Menu</label>
    </div>
    <div style="margin-left: 10%;margin-right: 10%;margin-top:10px">
        <table>
            <tr>
                <td style="width:12%">
                    <label >Menu Name:</label>
                </td>
                <td>
                    <input type="text" id="txtMenuName" />
                </td>
            </tr>
            </table>
        <table>
            <tr>
                <td style="width:12%">
                    <label >Menu Detail:</label>
                </td>
                <td>
                    <table class="tableAddProduct">
                        <tr>
                            <td class="tableAddProducttd">
                                <label>Menu Catagories</label>
                            </td>
                            <td class="tableAddProducttd">
                                <label style="margin-left:10px;margin-right:25px">Action</label>
                            </td>
                        </tr>
                        @*@foreach (var m in Model)
                        {
                            *@<tr>
                                <td class="tableAddProducttd">
                                    
                                </td>
                                <td class="tableAddProducttd">
                                   <a class="HyperLinkTobutton" style="margin-left:10px" href="/Menu/EditMenuCatagory?MenuCatagory=">
                                        Edit
                                    </a>
                                </td>
                            </tr>@*
                        }*@
                    </table>
                </td>
                <td>
                    <a style="color:blue;" href='@Url.Action("AddMenuCatagory", "Menu") '>Add Catagory</a>
                </td>
            </tr>
            </table>
    </div>

        <div style="height:70px;margin-left: 10%;margin-right: 10%;margin-top:10px">
        <table class="tableForManage">
            <tr class="tableTr">
                <td style="float:right">
                    <input class="buttonCustom" type="button" value="Save"  />
                </td>
                <td style="float:right">
                    <input class="buttonCustom" type="button" value="Back" onclick="location.href='@Url.Action("MenuList", "Menu")    '" />
                </td>
            </tr>
        </table>
    </div>
</div>
