@{
    ViewBag.Title = "Home Page";
}
@section Scripts
{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        var myIndex = 0;
        $(document).ready(function () {
            carousel();
        });

        function carousel() {
            var i;
            var x = document.getElementsByClassName('mySlides');
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 3000); // Change image every 2 seconds
        }
    </script>
}

<div id="myDiv" style="margin-left:310px;margin-top:10px">
  <img class="mySlides" src="../../Images/food2_2.jpg" >
  <img class="mySlides" src="../../Images/food3.jpg" >
  <img class="mySlides" src="../../Images/food4.jpg" >
  <img class="mySlides" src="../../Images/food6.jpg" >
  <img class="mySlides" src="../../Images/food5.jpg" >
</div>

